<div class="row">
    <div class="col-lg-6">
        <form method="post" action="#">
            <div class="input-group">
                {{ search.hidden_tag() }}
                {{ search.searchKey(class="form-control rounded-start-2") }}
                {{ search.submit(class="btn btn-outline-secondary border-secondary-subtle") }}
            </div>
        </form>
    </div>
    <div class="col-lg-6">
        <div class="btn-toolbar" role="toolbar">
            <div class="btn-group" role="group">
                <button role="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#createFolder"><i class="bi bi-folder-plus"></i></button>
                <button role="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#uploadFile"><i class="bi bi-cloud-arrow-up"></i></button>
            </div>
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="col-lg-12">
        <table class="table table-sm align-middle">
            <thead class="table-light">
                <tr>
                    <th><a href="{{url_for('traverse_back')}}"><i class="bi bi-arrow-return-left"></i></a></th>
                    <th>Nazwa</th>
                    <th>Data modyfikacji</th>
                    <th>Rozmiar</th>
                    <th class="text-end">Edycja</th>
                </tr>
            </thead>
            <tbody>
                {% for folder in folders %}
                        <div class="modal fade" id="renameFolder" tabindex="-1" aria-labelledby="renameFolderLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <p class="modal-title" id="renameFolderlabel">
                        <i class="bi bi-cloud-arrow-up pe-2 fs-5"></i>Zmiana nazwy folderu
                    </p>
                </div>
                <form method="post" action="{{ url_for('renameFolder', old_name=folder.folderName) }}" enctype="multipart/form-data">
                    <div class="modal-body">
                        {{ renameFolder.hidden_tag() }}
                        {{ renameFolder.new_name(class="form-control") }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Anuluj</button>
                        {{ renameFolder.submit(class="btn btn-sm btn-outline-secondary") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
                       <div class="modal fade" id="deleteFolder" tabindex="-1" aria-labelledby="deleteFolderLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <p class="modal-title" id="deleteFolderlabel">
                        <i class="bi bi-cloud-arrow-up pe-2 fs-5"></i>Usuwanie folderu
                    </p>
                </div>
                <form method="post" action="{{ url_for('removeFolder', folder_name=folder.folderName) }}" enctype="multipart/form-data">
    <div class="alert-info">
        <h1>CZY JESTES PEWIEN CZY CHCESZ USUNAC FOLDER</h1>
    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Anuluj</button>
                        {{ deleteFolder.submit(class="btn btn-sm btn-outline-secondary") }}
                    </div>
                </form>
            </div>
        </div>
    </div>

                    <tr>
                        <td><i class="{{ folder.icon }} me-2"></i><a href="{{ url_for('traverse_folder', name=folder.folderName) }}">{{folder.folderName}}</a></td>
                        <td>{{ folder.time }}</td>
                        <td></td>
                        <td class="text-end">
                            <i class="bi bi-trash3 text-danger"data-bs-toggle="modal" data-bs-target="#deleteFolder"></i>
                            <i class="bi bi-pencil-square"data-bs-toggle="modal" data-bs-target="#renameFolder"></i>
                        </td>
                    </tr>
                {% endfor %}
                {% for file in files %}
                <div class="modal fade" id="renameFile" tabindex="-1" aria-labelledby="renameFileLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <p class="modal-title" id="renameFilelabel">
                        <i class="bi bi-cloud-arrow-up pe-2 fs-5"></i>Zmiana nazwy pliku
                    </p>
                </div>
                <form method="post" action="{{ url_for('rename_file_function', old_name=file.fileName) }}" enctype="multipart/form-data">
                    <div class="modal-body">
                        {{ renameFile.hidden_tag() }}
                        {{ renameFile.new_name(class="form-control") }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Anuluj</button>
                        {{ renameFile.submit(class="btn btn-sm btn-outline-secondary") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
                                       <div class="modal fade" id="deleteFile" tabindex="-1" aria-labelledby="deleteFolderLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <p class="modal-title" id="deleteFilelabel">
                        <i class="bi bi-cloud-arrow-up pe-2 fs-5"></i>Usuwanie folderu
                    </p>
                </div>
                <form method="post" action="{{ url_for('remove_file', file_name=file.fileName) }}" enctype="multipart/form-data">
    <div class="alert-info">
        <h1>CZY JESTES PEWIEN CZY CHCESZ USUNAC PLIK</h1>
    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Anuluj</button>
                        {{ deleteFile.submit(class="btn btn-sm btn-outline-secondary") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
                    <tr>
                        <td>{{ file.fileName }}</td>
                        <td>{{ file.time }}</td>
                        <td>{{ file.size }} MB</td>
                                           <td class="text-end">
                            <i class="bi bi-trash3 text-danger"data-bs-toggle="modal" data-bs-target="#deleteFile"></i>
                            <i class="bi bi-pencil-square"data-bs-toggle="modal" data-bs-target="#renameFile"></i>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>




